body {
    background-color: #fffcfc;
    font-family: "Roboto", serif;
}

a {
    color: #f8797a;
    font-weight: 400;
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(144, 59, 112, 0.08);
    border-radius: 16px;
    padding: 30px;
}

header{
    border-bottom: 1px solid #fff2f2;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #fff2f2;
    border: none;
    border-radius: 30px;
    width: 79%;
    font-size: 16px;
    padding: 15px 20px;
    color: #f8797a;
}

.search-form-input::placeholder {
    color: #f8797a;
    opacity: 1; 
}

.search-form-button {
    background: #f8797a;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 4px;
}

main {
    padding: 30px 0;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 400;
}

.weather-app-details strong {
    color: #28c4b7;
    font-weight: 500;
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-icon {
    width: 88px;
    height: 88px;
}

.weather-app-temperature {
    font-size: 80px;
    line-height: 88px;
    font-weight: 500;
}

.weather-app-unit {
margin-top: 10px;
font-size: 30px;
margin-right: 7px;

}

footer{
    border-top: 1px solid #fff2f2;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
